*.o
.*swp
core
cscope.out
prle_rec
prle_rec_mpools
rle_rec
rle_rec_mpools
rle_rec_xarray_da
prle_rec_xarray_da
rle_rec_xarray_sla
prle_rec_xarray_sla
xarray/sla-chunk-tests/find
xarray/sla-chunk-tests/ptr
xarray/sla-chunk-tests/pop_tail
xarray/sla-chunk-tests/ptr-nextchunk
xarray/sla-chunk-tests/pop_head
xarray/sla-chunk-tests/size
Temp-C
Temp-cilk
Temp-results
perf.data
perf.data.old
results
floorplan/floorplan
floorplan/floorplan-serial
xarray/xvarray-tests/branch_sla
floorplan/reducer_test
floorplan/reducer_test_cpp
sum/psum_xarray_da
sum/psum_xarray_sla
sum/sum_omp
sum/sum_xarray_da
sum/sum_xarray_sla
